.edubot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.icon-container {
    width: 100%; /* 전체 너비로 확장 */
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    margin-bottom: 20px;
}


.bi-sliders {
    font-size: 1.5em;
}

.edubot-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.edubot-button {
    border: 2px solid #333;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #f7f7f7;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edubot-button:hover {
    background-color: #e0e0e0;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.edubot-input {
    flex: 1;
    padding: 10px 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    outline: none;
    color: #aaa;
}

.generate-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #030303;
    color: #fff;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.generate-button:hover {
    background-color: #555;
}
