@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #25283D;
}

nav .navbar-brand img{
    width: 50px;
    height: auto;
}

.collapse {
    padding-right: 50px;
}

.nav-link {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.info {
    margin-top: 140px;
}

.title p{
    font-size: 14px;
    color: #D2D2D2;
}
.btn {
    background-color: white;
    width: 100px;
    height: 40px;
    padding: 0;
}

.btn .nav-link{
    color: #25283D;
    text-align: center;
    padding: 0;
}

.btn .nav-link:hover {
    color: white;
    background-color: #282829;
}

.title h1 span {
    color: #ECA72C;
}

.search-bar {
    max-width: 800px;
    margin: 20px auto;
}

.form-control .btn-warning{
    margin-left: 50px;
}
.btn-warning {
    background-color: #ECA72C;
    width: 40px;
}

.bi{
    color: white;
    font-size: 1.25rem;

}

.btn-outline-light{
    width: 120px;
    color: #25283D;
    margin-right: 10px;
    padding: 5px;
}

.btn-left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.col{
    padding-top: 12px;
    color: #25283D;
}

/* Dropdown list */

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F5F5F5;
    font-family: 'Roboto Slab', sans-serif;
    color: #000000;
    padding: 20px;
    margin-left: 180px;
    width: 750px;
    height: 450px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.subject-types {
    width: 20%;
    padding-right: 20px;
    border-right: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
    background-color: #f0f0f5;
    color: #333;
}

.subject-types h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.subject-types p {
    font-size: 0.9em;
    color: #666;
}

.subjects {
    display: flex;
    width: 75%;
    padding-left: 20px;
    gap: 20px;
}

.category-column {
    display: flex;
    flex-direction: column;
}

.category {
    margin-bottom: 20px;
}

.category h4 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.category a {
    display: block;
    color: #000000;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.category a:hover {
    text-decoration: underline;
}

