@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
}

/* Quizzes list */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F5F5F5;
    font-family: 'Roboto Slab', sans-serif;
    color: #000000;
    padding: 20px;
    margin-left: 180px;
    width: 750px;
    height: 450px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.subject-types {
    width: 20%;
    padding-right: 20px;
    border-right: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
    background-color: #f0f0f5;
    color: #333;
}

.subject-types h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.subject-types p {
    font-size: 0.9em;
    color: #666;
}

.subjects {
    display: flex;
    width: 75%;
    padding-left: 20px;
    gap: 20px;
}

.category-column {
    display: flex;
    flex-direction: column;
}

.category {
    margin-bottom: 20px;
}

.category h4 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.category a {
    display: block;
    color: #000000;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.category a:hover {
    text-decoration: underline;
}

/* Page when open subjects in quizzes*/
nav .navbar-brand img{
    width: 50px;
    height: auto;
}

.collapse {
    padding-right: 50px;
}

.nav-link {
    color: #848484;
    font-size: 16px;
    font-weight: 500;
}

.btn {
    background-color: #25283D;
    width: 100px;
    height: 40px;
    padding: 0;
    border-radius: 20px;
}

.btn .nav-link{
    color: #ffffff;
    text-align: center;
    padding: 0;
}

.btn .nav-link:hover {
    color: #424242;
    background-color: #848484;
    border: #424242;
}

#main-footer{
    color: white;
    padding-top: 8px;
    background-color: #848484;
}

/* Subject-part */
.subject-part{
    margin-top: 20px;
}

.subject-part .container h2{
    color: #25283D;
}

.subject-part .container h2 span{
    color: #FFBC40;
}

.small-detail #filter-btn, .result{
    display: inline-block;
    margin-top: 15px;
}

.small-detail .result {
    margin-left: 1050px;
}

.small-detail .custom-btn{
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #848484;
    color: #25283D;
    border-radius: 5px;
    font-size: 18px;
}

.small-detail .custom-btn:hover{
    background-color: #f0f0f0;
    color: #333333;
}

.result{
    color: #424242;
}

.info-content{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.info-content h5{
    color: #25283D;
}

aside ul li{
    overflow: hidden;
}

.filter-list{
    padding-left: 5px;
}

.filter-list li{
    font-size: 16px;
}

.custom-checkbox{
    width: 12px;
    height: 12px;
}

.course-section {
    display: flex;
    gap: 20px;
}

.course-card {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    margin-left: 10px;
}

.course-image {
    width: 300px;
    height: 180px;
}

.course-details{
    padding-left: 20px;
}

.course-description{
    font-size: 16px;
    color: #424242;
    padding-top: 40px;
}

.creator{
    color: #666;
    font-size: 13px;
}

.course-details a{
    color: #25283D;
    text-decoration: none;
}