@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    font-family: 'Roboto Slab', serif;
}

/* Page when open subjects in quizzes*/
nav .navbar-brand img{
    width: 50px;
    height: auto;
}

.collapse {
    padding-right: 50px;
}

.nav-link {
    color: #848484;
    font-size: 16px;
    font-weight: 500;
}
.form-control{
    height: 45px;
}

#search{
    background-color: #ECA72C;
    color: white;
    width: 50px;
    height: 45px;
    border: none;
    border-radius: 0 5px 5px 0;
}

.btn {
    background-color: #25283D;
    width: 100px;
    height: 40px;
    padding: 0;
    border-radius: 20px;
}

.btn .nav-link{
    color: #ffffff;
    text-align: center;
    padding: 0;
}

.btn .nav-link:hover {
    color: #424242;
    background-color: #848484;
    border: #424242;
}

#main-footer{
    color: white;
    padding-top: 8px;
    background-color: #a4a4a4;
}

/* Info */
.quiz-container{
    margin-top: 20px;
}

.title{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 380px;
    color: #25283D;
}

#quiz-questions{
    display: flex;
    gap: 200px;
}

.btn-arrow{
    width: 50px;
    height: 50px;
    background-color: #ECA72C;
    border: none;
}

.btn-arrow:hover{
    background-color: rgba(236, 167, 44, 0.8);
    color: #424242;
}

.btn-arrow .bi{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#quiz-questions p{
    font-size: 18px;
    font-weight: 550;
}

