<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Assistant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/article.css">


    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a href="/" class="navbar-brand"><img src="/images/blue_logo.png" /></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a href="#" class="nav-link" onclick="quizList(event)">Quizzes</a>
            <div class="dropdown-menu" id="quiz-dropdown">
              <div class="subject-types">
                <h3>Subject's types</h3>
                <p>Learn, challenge, and practice subjects to make exam preparation easier.</p>
              </div>
              <div class="subjects">
                <div class="category-column">
                  <div class="category">
                    <h4><a href="/grade_1">1st Grade</a></h4>
                    <a href="/subjects/discrete_math" class="subject-link" data-subject="Discrete Mathematics">Discrete
                      Mathematics</a>
                    <a href="/subjects/programming" class="subject-link"
                      data-subject="Introduction to Programming">Introduction to Programming</a>
                  </div>
                  <div class="category">
                    <h4><a href="/grade_2">2nd Grade</a></h4>
                    <a href="/subjects/data_structure" class="subject-link" data-subject="Data Structure">Data
                      Structure</a>
                    <a href="/subjects/oop" class="subject-link" data-subject="Object Oriented Programming">Obejct
                      Oriented Programming</a>
                    <a href="/subjects/probability" class="subject-link"
                      data-subject="Probability and Statistics">Probability and Statistics</a>
                    <a href="/subjects/algorithm" class="subject-link"
                      data-subject="Algorithm Analysis and Design">Algorithm Analysis and Design</a>
                  </div>
                </div>
                <div class="category-column">
                  <div class="category">
                    <h4><a href="/grade_3">3rd Grade</a></h4>
                    <a href="/subjects/machine_learning" class="subject-link"
                      data-subject="Machine Learning with Python">Machine Learning with Python</a>
                  </div>
                  <div class="category">
                    <h4><a href="/grade_4">4th Grade</a></h4>
                    <a href="/subjects/computer_vision" class="subject-link" data-subject="Computer Vision">Computer
                      Vision</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a href="/community" class="nav-link">Community</a>
          </li>
          <li class="nav-item">
            <a href="/news" class="nav-link">News</a>
          </li>
        </ul>
        <div id="auth">
          <ul class="navbar-nav ms-auto">
            <% if (!isAuthenticated) { %>
            <li class="nav-item" <%=path==='/login' ? 'active' : '' %>>
              <a href="/login" class="nav-link">Log in</a>
            </li>
            <li class="nav-item" <%=path==='/signup' ? 'active' : '' %>>
              <a href="/signup" class="nav-link">Sign up</a>
            </li>
            <% } else { %>
            <div class="nav-item d-flex align-items-center">
              <!-- User Avatar -->
              <div class="user-avatar"
                style="background-image: url('/images/user.png'); width: 40px; height: 40px; background-size: cover; border-radius: 50%; margin-right: 10px;">
              </div>
              <!-- Logout Button -->
              <form action="/auth/logout" method="POST" style="display: inline;">
                <button type="submit" class="btn nav-link p-0">Log out</button>
              </form>
            </div>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </nav>

      <div id="news">
        <div class="container">
            <h4 class="title">Swarms of 'Ant-Like' Robots Lift Heavy Objects and Hurl Themselves Over Obstacles</h4>
            <p class="brief-descrip">Dec. 18, 2024 — Scientists in South Korea have developed swarms of tiny magnetic robots that work together like ants to achieve Herculean feats, including traversing and picking up objects many times their size.</p>
            <p class="content">
                The findings, published Wednesday, December 18 in the Cell Press journal Device, suggest that these microrobot swarms operating under a rotating magnetic field could be used to take on difficult tasks in challenging environments that individual robots would struggle to handle, such as offering a minimally invasive treatment for clogged arteries and precisely guiding organisms.

                "The high adaptability of microrobot swarms to their surroundings and high autonomy level in swarm control were surprising," says author Jeong Jae Wie of the Department of Organic and Nano Engineering at Hanyang University in Seoul, South Korea.

                Wie and colleagues tested how well microrobot swarms with different assembly configurations performed at a variety of tasks. They found that swarms with high aspect ratio assembly could climb an obstacle five times higher than the body length of a single microrobot and hurl themselves, one by one, over an obstacle.

                A large swarm of 1,000 microrobots with high packing density formed a raft that floated on water and wrapped itself around a pill that weighed 2,000 times more than each individual robot, enabling the swarm to transport the drug through the liquid.

                On dry land, a robot swarm managed to transport cargo 350 times heavier than each individual, while another microrobot swarm was able to unclog tubes that resembled blocked blood vessels. Finally, through spinning and orbital dragging motions, Wie's team developed a system through which robot swarms could guide the motions of small organisms.

                Scientists have become increasingly interested in studying how swarms of robots can collectively achieve goals, inspired by the way ants band together to bridge a gap in a path or huddle in the shape of a raft to survive floods. Similarly, working together makes robots more resistant to failure even if some members of the group fall short of the goal, the rest keep performing their programmed motions until enough of them eventually succeed.

                "Previous swarm robotics research has focused on spherical robots, which come together through point-to-point contact," says Wie. In this study, the researchers designed a swarm made up of cube-shaped microrobots, which share stronger magnetic



                attractions since larger surface areas entire faces of each cube can come into contact.

                Each microrobot stands 600 micrometers tall and consists of an epoxy body embedded with particles of ferromagnetic neodymium-iron-boron (NdFeB), which enables it to respond to magnetic fields and interact with other microrobots. By powering the robots with a magnetic field generated by rotating two connected magnets, the swarm can self-assemble. The researchers programmed the robots to come together in different configurations by varying the angle at which the robots were magnetized.

                "We developed a cost-effective mass production method using onsite replica molding and magnetization, ensuring uniform geometry and magnetization profiles for consistent performance," says Wie.

                "While the study's results are promising, the swarms will need higher levels of autonomy before they will be ready for real-world applications," says Wie.

                "The magnetic microrobot swarms require external magnetic control and lack the ability to autonomously navigate complex or confined spaces like real arteries," he says. "Future research will focus on enhancing the autonomy level of the microrobot swarms, such as real-time feedback control of their motions and trajectories."
            </p>
        </div>
      </div>
      

      <footer id="main-footer" class="text-center justify-content-center fixed-bottom">
        <div class="container">
          <div class="row">
            <div class="col">
              <p>Copyright &copy;
                <span id="year">2024</span> studentassistant.com </p>
            </div>
          </div>
        </div>
      </footer>
    </body>
</html>